bp_haauto_lock
[{
    "id": "f6a79913.7e8838",
    "type": "comment",
    "z": "a118de97.b83f9",
    "name": "Office Door lock/unlock Schedule",
    "info": "Turns Sydney's light off @10pm\nLight then on a 30min off delay timer if it is\nturned on between 10 & sunrise",
    "x": 179,
    "y": 47,
    "wires": []
}, {
    "id": "b4f14746.dc32d8",
    "type": "eztimer",
    "z": "a118de97.b83f9",
    "name": "5:30AM",
    "debug": false,
    "autoname": "05:30:00",
    "tag": "eztimer",
    "suspended": false,
    "sendEventsOnSuspend": false,
    "lat": "",
    "lon": "",
    "timerType": "2",
    "startupMessage": false,
    "ontype": "2",
    "ontimesun": "dawn",
    "ontimetod": "05:30:00",
    "onpropertytype": "msg",
    "onproperty": "payload",
    "onvaluetype": "str",
    "onvalue": "off",
    "onoffset": 0,
    "onrandomoffset": 0,
    "onsuppressrepeats": false,
    "offtype": "3",
    "offtimesun": "dusk",
    "offtimetod": "dusk",
    "offduration": "00:00:01",
    "offpropertytype": "msg",
    "offproperty": "payload",
    "offvaluetype": "num",
    "offvalue": 0,
    "offoffset": 0,
    "offrandomoffset": 0,
    "offsuppressrepeats": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "sun": true,
    "x": 170,
    "y": 108,
    "wires": [
        ["cbef5ed4.f1f65"]
    ]
}, {
    "id": "cbef5ed4.f1f65",
    "type": "api-current-state",
    "z": "a118de97.b83f9",
    "name": "Home?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "group.home",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 356,
    "y": 108,
    "wires": [
        ["7fa773a9.e7b1cc"],
        []
    ]
}, {
    "id": "f8c8fffb.e5c5f",
    "type": "api-call-service",
    "z": "a118de97.b83f9",
    "name": "Office Door - LOCK",
    "server": "bea6337e.54ee7",
    "version": 1,
    "debugenabled": false,
    "service_domain": "lock",
    "service": "lock",
    "entityId": "lock.office_door_lock",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "msg",
    "mustacheAltTags": false,
    "x": 849,
    "y": 172,
    "wires": [
        []
    ]
}, {
    "id": "7fa773a9.e7b1cc",
    "type": "api-call-service",
    "z": "a118de97.b83f9",
    "name": "Office Door - UNLOCK",
    "server": "bea6337e.54ee7",
    "version": 1,
    "debugenabled": false,
    "service_domain": "lock",
    "service": "unlock",
    "entityId": "lock.office_door_lock",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "msg",
    "mustacheAltTags": false,
    "x": 859,
    "y": 104,
    "wires": [
        []
    ]
}, {
    "id": "af0f041b.2672d8",
    "type": "eztimer",
    "z": "a118de97.b83f9",
    "name": "10:30PM",
    "debug": false,
    "autoname": "22:30:00",
    "tag": "eztimer",
    "suspended": false,
    "sendEventsOnSuspend": false,
    "lat": "",
    "lon": "",
    "timerType": "2",
    "startupMessage": false,
    "ontype": "2",
    "ontimesun": "dawn",
    "ontimetod": "22:30:00",
    "onpropertytype": "msg",
    "onproperty": "payload",
    "onvaluetype": "str",
    "onvalue": "off",
    "onoffset": 0,
    "onrandomoffset": 0,
    "onsuppressrepeats": false,
    "offtype": "3",
    "offtimesun": "dusk",
    "offtimetod": "dusk",
    "offduration": "00:00:01",
    "offpropertytype": "msg",
    "offproperty": "payload",
    "offvaluetype": "num",
    "offvalue": 0,
    "offoffset": 0,
    "offrandomoffset": 0,
    "offsuppressrepeats": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "sun": true,
    "x": 167,
    "y": 244,
    "wires": [
        ["ff0b9124.8a2ab"]
    ]
}, {
    "id": "2a3151db.11a93e",
    "type": "server-state-changed",
    "z": "a118de97.b83f9",
    "name": "Home?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "entityidfilter": "group.home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 161,
    "y": 175,
    "wires": [
        ["335f67d1.72a398"],
        ["f92d7b1d.e40c98"]
    ]
}, {
    "id": "335f67d1.72a398",
    "type": "time-range-switch",
    "z": "a118de97.b83f9",
    "name": "",
    "lat": "37.338167",
    "lon": "-121.885388",
    "startTime": "5:30",
    "endTime": "22:30",
    "startOffset": "",
    "endOffset": "",
    "x": 569,
    "y": 148,
    "wires": [
        ["7fa773a9.e7b1cc"],
        []
    ]
}, {
    "id": "ff0b9124.8a2ab",
    "type": "api-current-state",
    "z": "a118de97.b83f9",
    "name": "Not Guest Mode?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.office_guest_mode",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 385,
    "y": 225,
    "wires": [
        ["f92d7b1d.e40c98"],
        []
    ]
}, {
    "id": "f756d140.71bbe",
    "type": "server-state-changed",
    "z": "a118de97.b83f9",
    "name": "Office Motion?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [{
        "property": "name",
        "value": ""
    }, {
        "property": "icon",
        "value": ""
    }],
    "entityidfilter": "binary_sensor.office_motion_sensor_motion",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 176,
    "y": 309,
    "wires": [
        [],
        ["ef35a73b.741848"]
    ]
}, {
    "id": "ef35a73b.741848",
    "type": "time-range-switch",
    "z": "a118de97.b83f9",
    "name": "",
    "lat": "37.338167",
    "lon": "-121.885288",
    "startTime": "22:30",
    "endTime": "05:00",
    "startOffset": "",
    "endOffset": "",
    "x": 341,
    "y": 309,
    "wires": [
        ["ad993d6c.46f4f"],
        []
    ]
}, {
    "id": "ad993d6c.46f4f",
    "type": "trigger",
    "z": "a118de97.b83f9",
    "name": "10min Timer",
    "op1": "",
    "op2": "lock",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 500,
    "y": 309,
    "wires": [
        ["ff0b9124.8a2ab"]
    ]
}, {
    "id": "f92d7b1d.e40c98",
    "type": "api-current-state",
    "z": "a118de97.b83f9",
    "name": "Office Door Closed?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.office_door_sensor_contact",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 599,
    "y": 197,
    "wires": [
        ["f8c8fffb.e5c5f"],
        ["aba6e953.15f478"]
    ]
}, {
    "id": "372d45e7.37fbca",
    "type": "change",
    "z": "a118de97.b83f9",
    "name": "Msg Parts",
    "rules": [{
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "person.mark",
        "fromt": "str",
        "to": "mobile_app_iphonexr_mark",
        "tot": "str"
    }, {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "person.melissa",
        "fromt": "str",
        "to": "mobile_app_iphonexr_melissa",
        "tot": "str"
    }, {
        "t": "set",
        "p": "msg_type",
        "pt": "flow",
        "to": "Alert!",
        "tot": "str"
    }, {
        "t": "set",
        "p": "msg_text",
        "pt": "flow",
        "to": "The office doot is open! Can not lock it.",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1152,
    "y": 226,
    "wires": [
        ["90ecf51.ff6c808"]
    ]
}, {
    "id": "90ecf51.ff6c808",
    "type": "link out",
    "z": "a118de97.b83f9",
    "name": "iOS Notify",
    "links": ["c0307220.88946"],
    "x": 1289,
    "y": 226,
    "wires": [],
    "l": true
}, {
    "id": "aba6e953.15f478",
    "type": "trigger-state",
    "z": "a118de97.b83f9",
    "name": "",
    "server": "bea6337e.54ee7",
    "exposeToHomeAssistant": false,
    "haConfig": [{
        "property": "name",
        "value": ""
    }, {
        "property": "icon",
        "value": ""
    }],
    "entityid": "person.mark, person.melissa",
    "entityidfiltertype": "substring",
    "debugenabled": false,
    "constraints": [{
        "id": "417nwgqga71",
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "home"
    }, {
        "id": "goofo672gjp",
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "home"
    }],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 911,
    "y": 224,
    "wires": [
        ["372d45e7.37fbca"],
        []
    ]
}, {
    "id": "bea6337e.54ee7",
    "type": "server",
    "z": "",
    "name": "Home Assistant",
    "legacy": false,
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
}]
