bp_haauto_task_reminder
[{
    "id": "e54628c3.c02f58",
    "type": "eztimer",
    "z": "d490fcd4.1f85",
    "name": "11AM",
    "debug": false,
    "autoname": "11:00:00",
    "tag": "eztimer",
    "suspended": false,
    "sendEventsOnSuspend": false,
    "lat": "",
    "lon": "",
    "timerType": "2",
    "startupMessage": false,
    "ontype": "2",
    "ontimesun": "dawn",
    "ontimetod": "11:00:00",
    "onpropertytype": "msg",
    "onproperty": "payload",
    "onvaluetype": "date",
    "onvalue": "",
    "onoffset": 0,
    "onrandomoffset": 0,
    "onsuppressrepeats": false,
    "offtype": "3",
    "offtimesun": "dusk",
    "offtimetod": "dusk",
    "offduration": "00:00:01",
    "offpropertytype": "msg",
    "offproperty": "payload",
    "offvaluetype": "num",
    "offvalue": 0,
    "offoffset": 0,
    "offrandomoffset": 0,
    "offsuppressrepeats": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "sun": true,
    "x": 334,
    "y": 3851,
    "wires": [
        ["e87b5af1.679098"]
    ]
}, {
    "id": "e87b5af1.679098",
    "type": "api-current-state",
    "z": "d490fcd4.1f85",
    "name": "Task not completed?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.task_status",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 574,
    "y": 3851,
    "wires": [
        ["395d8ce0.5d92c4", "4a1f0ccd.0ed7a4"],
        []
    ]
}, {
    "id": "395d8ce0.5d92c4",
    "type": "api-call-service",
    "z": "d490fcd4.1f85",
    "name": "Notify Phone",
    "server": "bea6337e.54ee7",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_iphone_userx",
    "entityId": "",
    "data": "{\"title\":\"Reminder\",\"message\":\"You still need to take your pill\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1299,
    "y": 3842,
    "wires": [
        []
    ]
}, {
    "id": "77db082b.65dcf8",
    "type": "api-current-state",
    "z": "d490fcd4.1f85",
    "name": "Task still NOT completed?",
    "server": "bea6337e.54ee7",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.task_status",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 1102,
    "y": 3935,
    "wires": [
        ["4a1f0ccd.0ed7a4", "395d8ce0.5d92c4"],
        []
    ]
}, {
    "id": "4a1f0ccd.0ed7a4",
    "type": "trigger",
    "z": "d490fcd4.1f85",
    "name": "Check again in 30mins",
    "op1": "",
    "op2": "open",
    "op1type": "nul",
    "op2type": "str",
    "duration": "30",
    "extend": true,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 867,
    "y": 3874,
    "wires": [
        ["77db082b.65dcf8"]
    ]
}, {
    "id": "963f1958.5fc768",
    "type": "comment",
    "z": "d490fcd4.1f85",
    "name": "Task Reminder",
    "info": "",
    "x": 365,
    "y": 3803,
    "wires": []
}, {
    "id": "67fcf55e.95f07c",
    "type": "server-events",
    "z": "d490fcd4.1f85",
    "name": "Samsung Button",
    "server": "bea6337e.54ee7",
    "event_type": "smartthings.button",
    "exposeToHomeAssistant": false,
    "haConfig": [{
        "property": "name",
        "value": ""
    }, {
        "property": "icon",
        "value": ""
    }],
    "waitForRunning": true,
    "x": 365,
    "y": 3720,
    "wires": [
        ["69fddb87.af71d4"]
    ]
}, {
    "id": "cd8dcc0c.444f",
    "type": "switch",
    "z": "d490fcd4.1f85",
    "name": "Button Click Type",
    "property": "payload.event.value",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "pushed",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "double",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "held",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 850,
    "y": 3720,
    "wires": [
        ["38284d39.77e8d2"],
        [],
        []
    ]
}, {
    "id": "69fddb87.af71d4",
    "type": "switch",
    "z": "d490fcd4.1f85",
    "name": "Device ID Office Button",
    "property": "payload.event.name",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "Task Button",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 3720,
    "wires": [
        ["cd8dcc0c.444f"]
    ]
}, {
    "id": "38284d39.77e8d2",
    "type": "api-call-service",
    "z": "d490fcd4.1f85",
    "name": "Mark task completed",
    "server": "bea6337e.54ee7",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.task_status",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1071,
    "y": 3707,
    "wires": [
        []
    ]
}, {
    "id": "660a1e70.59364",
    "type": "comment",
    "z": "d490fcd4.1f85",
    "name": "Button control for Input Boolean",
    "info": "",
    "x": 417,
    "y": 3675,
    "wires": []
}, {
    "id": "37a9f1b8.0059be",
    "type": "api-call-service",
    "z": "d490fcd4.1f85",
    "name": "Task Status",
    "server": "bea6337e.54ee7",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.task_status",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 554,
    "y": 4014,
    "wires": [
        []
    ]
}, {
    "id": "a385aeb5.e6fdb",
    "type": "eztimer",
    "z": "d490fcd4.1f85",
    "name": "Reset @Midnight",
    "debug": false,
    "autoname": "00:00:00",
    "tag": "eztimer",
    "suspended": false,
    "sendEventsOnSuspend": false,
    "lat": "37.338167",
    "lon": "-121.885388",
    "timerType": "2",
    "startupMessage": false,
    "ontype": "2",
    "ontimesun": "dawn",
    "ontimetod": "00:00:00",
    "onpropertytype": "msg",
    "onproperty": "payload",
    "onvaluetype": "str",
    "onvalue": "off",
    "onoffset": 0,
    "onrandomoffset": 0,
    "onsuppressrepeats": false,
    "offtype": "1",
    "offtimesun": "dusk",
    "offtimetod": "dusk",
    "offduration": "00:01:00",
    "offpropertytype": "msg",
    "offproperty": "payload",
    "offvaluetype": "num",
    "offvalue": 0,
    "offoffset": 0,
    "offrandomoffset": 0,
    "offsuppressrepeats": false,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "sun": true,
    "x": 375,
    "y": 4014,
    "wires": [
        ["37a9f1b8.0059be"]
    ]
}, {
    "id": "36b60aae.8fc5e6",
    "type": "comment",
    "z": "d490fcd4.1f85",
    "name": "Nightly Reset",
    "info": "",
    "x": 355,
    "y": 3966,
    "wires": []
}, {
    "id": "bea6337e.54ee7",
    "type": "server",
    "z": "",
    "name": "Home Assistant",
    "legacy": false,
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
}]
